In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'col1':[1,2,3,4,5],'col2':[45,56,67,34,34], 'col3':"harshith D rak hem frd".split(), })

In [4]:
"harshith D rak hem frd".split()

['harshith', 'D', 'rak', 'hem', 'frd']

In [7]:
df

   col1  col2      col3
0     1    45  harshith
1     2    56         D
2     3    67       rak
3     4    34       hem
4     5    34       frd

In [8]:
df['col4']=df['col1']*df['col1']

In [9]:
df

   col1  col2      col3  col4
0     1    45  harshith     1
1     2    56         D     4
2     3    67       rak     9
3     4    34       hem    16
4     5    34       frd    25

In [12]:
df['col5']=df['col3'].str[0]

In [13]:
df

   col1  col2      col3  col4 col5
0     1    45  harshith     1    h
1     2    56         D     4    D
2     3    67       rak     9    r
3     4    34       hem    16    h
4     5    34       frd    25    f

In [14]:
def test(a):
    return a**2

In [15]:
df['col4_4']=df['col1'].apply(test)

In [16]:
df

   col1  col2      col3  col4 col5  col4_4
0     1    45  harshith     1    h       1
1     2    56         D     4    D       4
2     3    67       rak     9    r       9
3     4    34       hem    16    h      16
4     5    34       frd    25    f      25

In [25]:
def test1(a):
    if a=='h':
        return 'h'
    else:
        return 'z'

In [33]:
df['col6']=df['col5'].apply(test1)

In [34]:
df

   col1  col2      col3  col4 col5  col4_4 col6
0     1    45  harshith     1    h       1    h
1     2    56         D     4    D       4    z
2     3    67       rak     9    r       9    z
3     4    34       hem    16    h      16    h
4     5    34       frd    25    f      25    z

In [36]:
df['col6_6']=df['col5'].apply(lambda a:'h' if a=='h' else 'z')

In [37]:
df

   col1  col2      col3  col4 col5  col4_4 col6 col6_6
0     1    45  harshith     1    h       1    h      h
1     2    56         D     4    D       4    z      z
2     3    67       rak     9    r       9    z      z
3     4    34       hem    16    h      16    h      h
4     5    34       frd    25    f      25    z      z

In [38]:
df['col7']=df['col3'].apply(len)

In [39]:
df

   col1  col2      col3  col4 col5  col4_4 col6 col6_6  col7
0     1    45  harshith     1    h       1    h      h     8
1     2    56         D     4    D       4    z      z     1
2     3    67       rak     9    r       9    z      z     3
3     4    34       hem    16    h      16    h      h     3
4     5    34       frd    25    f      25    z      z     3

In [40]:
import math

In [45]:
df['col8']=df['col2'].apply(math.log)

In [46]:
df

   col1  col2      col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    45  harshith     1    h       1    h      h     8  3.806662
1     2    56         D     4    D       4    z      z     1  4.025352
2     3    67       rak     9    r       9    z      z     3  4.204693
3     4    34       hem    16    h      16    h      h     3  3.526361
4     5    34       frd    25    f      25    z      z     3  3.526361

In [3]:
#numpy
import numpy as np

In [4]:
 l=["sudh",1,2,3,4]

In [55]:
type(l)

list

In [56]:
np.array(l)

array(['sudh', '1', '2', '3', '4'], dtype='<U11')

In [57]:
type(np.array(l))

numpy.ndarray

In [64]:
a1=np.array([3,4,5,6,3.0])

In [61]:
a=np.array([[1,2],[3,4]])

In [62]:
a

array([[1, 2],
       [3, 4]])

In [63]:
a[1][1]

4

In [65]:
a1

array([3., 4., 5., 6., 3.])

In [66]:
a1[1]

4.0

In [73]:
a2=np.array([1,2,3,4],ndmin=4)

##

In [74]:
a2

array([[[[1, 2, 3, 4]]]])

In [78]:
a2[0][0][0][0]

1

In [79]:
a

array([[1, 2],
       [3, 4]])

In [80]:
np.asarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [81]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [82]:
np.mat([1,2,3,4,5]) #2D is default

matrix([[1, 2, 3, 4, 5]])

In [83]:
a

array([[1, 2],
       [3, 4]])

In [84]:
#matrix is the child class of array

In [85]:
a=[1,2,3,4]

In [86]:
np.asanyarray(a)

array([1, 2, 3, 4])

In [87]:
np.asarray(a)

array([1, 2, 3, 4])

In [88]:
np.mat(a)

matrix([[1, 2, 3, 4]])

In [89]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4]])

In [90]:
np.fromfunction(lambda i,j : i==j, (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [92]:
np.fromfunction(lambda i, j :i*j, (4,4),dtype=int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [8]:
a=np.fromfunction(lambda i, j, Z :i*j*Z, (4,3,2),dtype=int)

In [9]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [11]:
a.ndim

3

In [12]:
a.size

24

In [13]:
a.shape

(4, 3, 2)

In [14]:
a.dtype

dtype('int32')

In [24]:
#2D
a=np.fromfunction(lambda i, j :i*j, (4,3),dtype=int)

In [17]:
pd.DataFrame(a)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [18]:
np.random.rand(100,4)

array([[0.46869117, 0.88765735, 0.40569464, 0.79811017],
       [0.15631838, 0.11607695, 0.28160042, 0.4326837 ],
       [0.23301666, 0.5998527 , 0.38354239, 0.59516163],
       [0.25395854, 0.50598895, 0.93807482, 0.63197493],
       [0.57962651, 0.58167247, 0.00411607, 0.17391073],
       [0.07330436, 0.65033913, 0.72857686, 0.40152551],
       [0.80321685, 0.42522275, 0.10471291, 0.723446  ],
       [0.5043925 , 0.38229311, 0.1913812 , 0.23934133],
       [0.45362081, 0.67697084, 0.89307866, 0.70039224],
       [0.81794707, 0.13228207, 0.72767593, 0.52569463],
       [0.1091675 , 0.71201987, 0.58652601, 0.03972088],
       [0.34384445, 0.34717865, 0.46144848, 0.50230672],
       [0.54471497, 0.87175754, 0.90018582, 0.69169346],
       [0.93793828, 0.15955205, 0.76111319, 0.3272005 ],
       [0.1060881 , 0.42290923, 0.33418284, 0.4817334 ],
       [0.38714514, 0.09031765, 0.84670991, 0.4531882 ],
       [0.84261174, 0.83727202, 0.0676316 , 0.04088686],
       [0.67778613, 0.37018093, 0.89581344, 0.29788246],
       [0.9571113 , 0.03142935, 0.09502874, 0.950763  ],
       [0.17088157, 0.83497114, 0.97675266, 0.37993339],
       [0.06344138, 0.09388482, 0.9889552 , 0.76845837],
       [0.38895733, 0.12916205, 0.93561496, 0.01035789],
       [0.7192996 , 0.42600974, 0.41120865, 0.08880817],
       [0.88983934, 0.78796642, 0.14677716, 0.35277865],
       [0.55768434, 0.08793604, 0.2287829 , 0.57255983],
       [0.17540756, 0.26063562, 0.6964725 , 0.32911205],
       [0.58487958, 0.15727211, 0.22327067, 0.13355403],
       [0.90734969, 0.492826  , 0.13917798, 0.84621237],
       [0.15941394, 0.97187705, 0.4675143 , 0.73256542],
       [0.49758918, 0.27674189, 0.88755009, 0.30222703],
       [0.0675619 , 0.91357516, 0.46429625, 0.27291897],
       [0.44473366, 0.67132194, 0.52573615, 0.41970913],
       [0.49621457, 0.80242861, 0.75494107, 0.29006196],
       [0.02952314, 0.30285795, 0.85825422, 0.28785118],
       [0.70549661, 0.31835722, 0.08923712, 0.57138642],
       [0.79058466, 0.91936836, 0.70763618, 0.49325209],
       [0.19502905, 0.71858111, 0.64676414, 0.41138298],
       [0.66265876, 0.7780918 , 0.5694111 , 0.31925247],
       [0.5555121 , 0.71904614, 0.44163028, 0.54958773],
       [0.19439319, 0.71153143, 0.0921859 , 0.20919246],
       [0.78755411, 0.9174682 , 0.81179674, 0.58969482],
       [0.37409598, 0.90322704, 0.87824609, 0.69998307],
       [0.48160138, 0.10777244, 0.31511587, 0.78612662],
       [0.40225824, 0.89180258, 0.12509116, 0.27284496],
       [0.2185096 , 0.71343795, 0.41058621, 0.97308143],
       [0.06478328, 0.7721495 , 0.09635227, 0.30112105],
       [0.55697128, 0.28385568, 0.87351894, 0.70464569],
       [0.1920265 , 0.54744681, 0.38164379, 0.45604937],
       [0.4306004 , 0.3701742 , 0.72024782, 0.73251344],
       [0.03205162, 0.34181697, 0.21187024, 0.2086053 ],
       [0.15170441, 0.21603936, 0.31367305, 0.5401236 ],
       [0.81133648, 0.32159989, 0.63392757, 0.67357427],
       [0.52304809, 0.03882597, 0.42110057, 0.7370872 ],
       [0.1681527 , 0.0581482 , 0.54497735, 0.71531094],
       [0.29568744, 0.2443375 , 0.99922121, 0.00937612],
       [0.15041055, 0.08001284, 0.35311796, 0.18847043],
       [0.53160109, 0.1934403 , 0.26466137, 0.21925987],
       [0.18242707, 0.80023348, 0.07521623, 0.83035936],
       [0.21544796, 0.59695007, 0.29307098, 0.44664465],
       [0.61663628, 0.69269036, 0.8836343 , 0.88445098],
       [0.33325448, 0.35025787, 0.40367829, 0.28245015],
       [0.71283425, 0.0473503 , 0.41868146, 0.8328075 ],
       [0.27381644, 0.14481578, 0.43680491, 0.64917643],
       [0.4576164 , 0.93133112, 0.3797674 , 0.9639025 ],
       [0.04682288, 0.19231797, 0.23354037, 0.75396664],
       [0.91998687, 0.24613138, 0.79560894, 0.38365564],
       [0.2293293 , 0.58663641, 0.98184481, 0.81192469],
       [0.05947821, 0.01872988, 0.96896935, 0.41857213],
       [0.57196816, 0.74847208, 0.61208484, 0.35223117],
       [0.54120994, 0.16713583, 0.00434303, 0.7437143 ],
       [0.96726458, 0.36625483, 0.80489268, 0.93723634],
       [0.40649582, 0.66228772, 0.54244459, 0.08596215],
       [0.29496674, 0.84422857, 0.29700275, 0.03440104],
       [0.23168755, 0.79631473, 0.99223636, 0.03077315],
       [0.97233893, 0.86400572, 0.03514091, 0.21295707],
       [0.63499932, 0.06022862, 0.69395874, 0.9356648 ],
       [0.1044924 , 0.64336896, 0.55798638, 0.67379735],
       [0.67371122, 0.61112866, 0.19027016, 0.10692792],
       [0.91064824, 0.58213133, 0.10999586, 0.67129031],
       [0.89057652, 0.37667794, 0.18610705, 0.77491529],
       [0.95802742, 0.57440982, 0.46687132, 0.18071466],
       [0.37598734, 0.40081892, 0.93229445, 0.52713667],
       [0.91094589, 0.23777289, 0.0267955 , 0.4079574 ],
       [0.07867932, 0.67682021, 0.31664597, 0.73276882],
       [0.63400031, 0.08479365, 0.4131407 , 0.99932668],
       [0.3078738 , 0.86511774, 0.86168421, 0.87201373],
       [0.40904632, 0.42423232, 0.21944686, 0.79612349],
       [0.19115959, 0.24764363, 0.39688138, 0.94791229],
       [0.21164387, 0.62981286, 0.34744147, 0.31390202],
       [0.87149   , 0.47180336, 0.38564056, 0.86200764],
       [0.74115623, 0.36641255, 0.92298793, 0.13690324],
       [0.10291119, 0.9157657 , 0.86149011, 0.7671074 ],
       [0.2187122 , 0.10623222, 0.79549806, 0.80867919],
       [0.59332529, 0.07983643, 0.98615528, 0.1377262 ],
       [0.25024922, 0.9310933 , 0.50126231, 0.68568595],
       [0.11574407, 0.16082294, 0.99485117, 0.62624687],
       [0.52109147, 0.86496171, 0.23257253, 0.48925625],
       [0.64542876, 0.14566983, 0.68370496, 0.22608143],
       [0.19323519, 0.95643197, 0.48705317, 0.14271461],
       [0.24775783, 0.07382903, 0.6739807 , 0.24716035]])

In [19]:
np.random.randint(4,50)

34

In [23]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0 -0.272422  0.349040  1.319326 -0.103675  0.868490
1  0.212745 -0.797088  0.026058 -0.883958 -0.301982
2  1.071080 -1.092791  1.036001  1.646275 -0.097784
3 -1.224088 -1.217787 -0.558640  1.401823 -0.413036

In [25]:
#3d
a=np.fromfunction(lambda i, j, Z :i*j*Z, (4,3,2),dtype=int)

In [29]:
pd.DataFrame(a.reshape(6,4))

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  1  0  2
3  0  0  0  2
4  0  4  0  0
5  0  3  0  6

In [30]:
pd.DataFrame(a.reshape(6,-1))

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  1  0  2
3  0  0  0  2
4  0  4  0  0
5  0  3  0  6

In [31]:
list(range(4,10,.2))

TypeError: 'float' object cannot be interpreted as an integer

In [34]:
a1=np.arange(4,10.5,.2)

In [35]:
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [37]:
a1[1:4]

array([4.2, 4.4, 4.6])

In [38]:
arr=np.random.rand(4,5)

In [39]:
arr

array([[0.91965995, 0.18494201, 0.51615069, 0.37275703, 0.98424584],
       [0.23014982, 0.27355163, 0.4160139 , 0.75058926, 0.04211062],
       [0.18696046, 0.63453939, 0.15596438, 0.48060247, 0.20200425],
       [0.20358153, 0.50466283, 0.98232961, 0.74412882, 0.35663833]])

In [41]:
arr[arr > .5]

array([0.91965995, 0.51615069, 0.98424584, 0.75058926, 0.63453939,
       0.50466283, 0.98232961, 0.74412882])

In [42]:
arr

array([[0.91965995, 0.18494201, 0.51615069, 0.37275703, 0.98424584],
       [0.23014982, 0.27355163, 0.4160139 , 0.75058926, 0.04211062],
       [0.18696046, 0.63453939, 0.15596438, 0.48060247, 0.20200425],
       [0.20358153, 0.50466283, 0.98232961, 0.74412882, 0.35663833]])

In [43]:
arr[[1,2],[2]]

array([0.4160139 , 0.15596438])

In [45]:
arr = np.random.rand(8,5)

In [46]:
arr

array([[0.97932424, 0.5923086 , 0.86240833, 0.74723932, 0.46925258],
       [0.79026305, 0.83331662, 0.55231928, 0.4241246 , 0.49300809],
       [0.67353991, 0.40341303, 0.43894954, 0.37931957, 0.34532758],
       [0.0232081 , 0.67610981, 0.86698294, 0.71872449, 0.31279847],
       [0.07166851, 0.22986975, 0.88644356, 0.64641142, 0.10959851],
       [0.79707971, 0.0955583 , 0.50135261, 0.12580202, 0.794457  ],
       [0.50067734, 0.93303421, 0.39199521, 0.44355208, 0.17934996],
       [0.99661495, 0.60768677, 0.54412669, 0.0459898 , 0.55532904]])

In [51]:
a2=arr[1:8,0:3]

In [52]:
a2

array([[0.79026305, 0.83331662, 0.55231928],
       [0.67353991, 0.40341303, 0.43894954],
       [0.0232081 , 0.67610981, 0.86698294],
       [0.07166851, 0.22986975, 0.88644356],
       [0.79707971, 0.0955583 , 0.50135261],
       [0.50067734, 0.93303421, 0.39199521],
       [0.99661495, 0.60768677, 0.54412669]])

In [54]:
a2[0,0]=123

In [55]:
a2

array([[1.23000000e+02, 8.33316621e-01, 5.52319282e-01],
       [6.73539913e-01, 4.03413025e-01, 4.38949544e-01],
       [2.32081019e-02, 6.76109812e-01, 8.66982943e-01],
       [7.16685110e-02, 2.29869751e-01, 8.86443561e-01],
       [7.97079714e-01, 9.55582953e-02, 5.01352611e-01],
       [5.00677338e-01, 9.33034207e-01, 3.91995206e-01],
       [9.96614945e-01, 6.07686774e-01, 5.44126692e-01]])

In [59]:
a = np.array([[1,2],[3,4]])
b = np.array([[2,3],[4,5]])

In [60]:
a

array([[1, 2],
       [3, 4]])

In [61]:
b

array([[2, 3],
       [4, 5]])

In [62]:
a*b #elementwise multiplication

array([[ 2,  6],
       [12, 20]])

In [64]:
#matrix Multiplication
m=a@b

In [65]:
m

array([[10, 13],
       [22, 29]])

In [66]:
m/0

C:\Users\Harshith D\AppData\Local\Temp/ipykernel_28196/3791875896.py:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])