In [2]:
#in memory database(Local System)

In [1]:
import sqlite3

In [4]:
db = sqlite3.connect("ineuron.db")

In [5]:
c = db.cursor()

In [6]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [9]:
ls

 Volume in drive C is OS
 Volume Serial Number is 8450-1D05

 Directory of C:\Users\Harshith D\ineuron

05-03-2022  02:36 PM    <DIR>          .
05-03-2022  02:36 PM    <DIR>          ..
05-03-2022  11:48 AM    <DIR>          .ipynb_checkpoints
28-02-2022  08:05 PM    <DIR>          19.3 MongoDB
19-08-2021  07:41 AM               151 BullseyeCoverageError.txt
16-12-2021  10:48 AM             1,337 calendar.ipynb
23-02-2022  08:53 AM            51,867 car.data
26-02-2022  10:39 AM             3,097 car.names
27-02-2022  11:35 AM           659,601 Car_Mysql.ipynb
10-12-2021  11:56 AM            12,878 Day 1.ipynb
11-12-2021  09:34 AM            28,606 Day2.ipynb
28-01-2022  09:01 PM            16,103 exception handling.ipynb
16-01-2022  09:52 AM            17,536 function.ipynb
26-01-2022  12:35 PM            25,306 function2.ipynb
08-01-2022  11:44 AM            24,316 if, for-else,while.ipynb
05-03-2022  02:24 PM             8,192 ineuron.db
05-03-2022  02:36 PM                 0 ineuron.db-journal
28-01-2022  08:28 AM           214,133 iterable,iterator,generator,filesystem.ipynb
28-01-2022  10:15 PM             5,090 logging.ipynb
30-01-2022  11:15 AM            19,241 Modules, packages.ipynb
01-03-2022  12:25 PM             8,364 Mongodb_1.ipynb
01-03-2022  11:44 AM             3,280 Mongodb_1_Sunny.ipynb
01-02-2022  10:28 AM               657 mydict.py
29-01-2022  01:18 PM               228 mymodule.py
01-02-2022  10:29 AM            17,072 oops.ipynb
04-02-2022  04:20 PM            19,886 oops2.ipynb
08-02-2022  08:48 AM             5,978 oops3.ipynb
26-12-2021  10:19 AM                15 pillamma.txt
10-02-2022  08:40 AM           143,693 Python_MYSql1.ipynb
23-02-2022  08:44 AM           189,543 Python_MYSql2.ipynb
08-01-2022  02:42 PM             6,645 reverse, palindrome.ipynb
05-03-2022  02:31 PM             5,033 SQLLite.ipynb
16-01-2022  01:05 PM             7,542 Task.ipynb
28-01-2022  09:26 PM               591 teat.log
29-01-2022  12:54 PM               249 test.py
03-02-2022  08:07 AM                 7 test.txt
29-01-2022  12:15 PM                 0 test1.py
28-01-2022  07:14 PM                22 test1.txt
28-01-2022  10:02 PM             3,970 test2.log
27-01-2022  10:01 PM                25 test2.txt
28-01-2022  10:15 PM               621 test3.log
28-01-2022  07:27 PM                 0 test4.txt
01-02-2022  07:21 AM            16,890 Tuple,set,dict.ipynb
01-02-2022  07:17 PM             2,255 Untitled.ipynb
              40 File(s)      1,520,020 bytes
               4 Dir(s)  285,728,112,640 bytes free

In [8]:
c.execute("insert into fsds values('sudh',34535,454.6)")

In [10]:
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")
c.execute("insert into fsds values('sudh',34535,454.6)")

In [12]:
data = c.execute("select * from fsds")

In [13]:
for i in data:
    print(i)

('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)

In [14]:
db.commit()

In [15]:
db.close()

In [16]:
db=sqlite3.connect("ineuron.db")

In [17]:
c=db.cursor()

In [19]:
data=c.execute("select * from fsds where marks > 400")

In [20]:
for i in data:
    print(i)

('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)

In [23]:
data = c.execute("select * from fsds where name ='sudh'")

In [24]:
for i in data:
    print(i)

('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)
('sudh', 34535, 454.6)

In [25]:
data = c.execute("select name,marks from fsds")

In [26]:
for i in data:
    print(i)

('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)

In [28]:
data = c.execute("select name,marks from fsds order by marks")

In [29]:
for i in data:
    print(i)

('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)
('sudh', 454.6)

In [30]:
db.close()

In [2]:
db=sqlite3.connect("person.db")

In [4]:
c=db.cursor()

In [5]:
c.execute("create table person_table(name text,email_id text,age int,salary real)")

OperationalError: table person_table already exists

In [8]:
c.execute("insert into person_table values('sudh', 'sudhanshu@ineuron.ai',12,2342.4)")

In [9]:
c.execute("insert into person_table values('harshi', 'harshi@ineuron.ai',24,2342.4)")
c.execute("insert into person_table values('rakshi', 'rakshi@ineuron.ai',25,2342.4)")
c.execute("insert into person_table values('hemu', 'hemu@ineuron.ai',26,2342.4)")

In [12]:
d=c.execute("select * from person_table")

In [13]:
for i in d:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 12, 2342.4)
('harshi', 'harshi@ineuron.ai', 24, 2342.4)
('rakshi', 'rakshi@ineuron.ai', 25, 2342.4)
('hemu', 'hemu@ineuron.ai', 26, 2342.4)

In [14]:
db.commit()

In [15]:
db.close()

In [16]:
db=sqlite3.connect('ineuron.db')

In [17]:
c=db.cursor()

In [18]:
c.execute("drop table fsds")

In [19]:
c.execute("select * from fsds")

OperationalError: no such table: fsds

In [20]:
db.close()

In [21]:
db=sqlite3.connect('person.db')

In [22]:
c = db.cursor()

In [24]:
d=c.execute("select * from person_table")

In [25]:
for i in d:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 12, 2342.4)
('harshi', 'harshi@ineuron.ai', 24, 2342.4)
('rakshi', 'rakshi@ineuron.ai', 25, 2342.4)
('hemu', 'hemu@ineuron.ai', 26, 2342.4)

In [26]:
db.close()

In [27]:
db = sqlite3.connect('joindb.db')

In [28]:
c= db.cursor()

In [29]:
c.execute("create table student(studentid int, student_name text, student_mailid text, marks int)")

In [30]:
c.execute("create table address(studentid int, pincode int, location text, nearby text, phone_no int)")

In [32]:
c.execute("insert into student values(234,'harshith','harshi@gmail.com',234)")
c.execute("insert into student values(235,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(236,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(237,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(238,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(239,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(240,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(241,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(242,'rakshith','rakshi@gmail.com',234)")
c.execute("insert into student values(243,'rakshith','rakshi@gmail.com',234)")

In [33]:
c.execute("insert into address values(235,560034,'whitefeild','ineuron office',123456789)")

In [34]:
c.execute("insert into address values(234,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(236,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(237,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(238,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(239,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(240,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(241,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(242,560034,'whitefeild','ineuron office',123456789)")
c.execute("insert into address values(243,560034,'whitefeild','ineuron office',123456789)")

In [35]:
d=c.execute("select * from address")

In [36]:
for i in d:
    print(i)

(235, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 560034, 'whitefeild', 'ineuron office', 123456789)
(236, 560034, 'whitefeild', 'ineuron office', 123456789)
(237, 560034, 'whitefeild', 'ineuron office', 123456789)
(238, 560034, 'whitefeild', 'ineuron office', 123456789)
(239, 560034, 'whitefeild', 'ineuron office', 123456789)
(240, 560034, 'whitefeild', 'ineuron office', 123456789)
(241, 560034, 'whitefeild', 'ineuron office', 123456789)
(242, 560034, 'whitefeild', 'ineuron office', 123456789)
(243, 560034, 'whitefeild', 'ineuron office', 123456789)

In [39]:
data = c.execute("select * from student s left join address a on s.studentid=a.studentid")

In [40]:
for i in data:
    print(i)

(234, 'harshith', 'harshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'rakshith', 'rakshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(234, 'harshith', 'harshi@gmail.com', 234, 234, 560034, 'whitefeild', 'ineuron office', 123456789)
(235, 'rakshith', 'rakshi@gmail.com', 234, 235, 560034, 'whitefeild', 'ineuron office', 123456789)
(236, 'rakshith', 'rakshi@gmail.com', 234, 236, 560034, 'whitefeild', 'ineuron office', 123456789)
(237, 'rakshith', 'rakshi@gmail.com', 234, 237, 560034, 'whitefeild', 'ineuron office', 123456789)
(238, 'rakshith', 'rakshi@gmail.com', 234, 238, 560034, 'whitefeild', 'ineuron office', 123456789)
(239, 'rakshith', 'rakshi@gmail.com', 234, 239, 560034, 'whitefeild', 'ineuron office', 123456789)
(240, 'rakshith', 'rakshi@gmail.com', 234, 240, 560034, 'whitefeild', 'ineuron office', 123456789)
(241, 'rakshith', 'rakshi@gmail.com', 234, 241, 560034, 'whitefeild', 'ineuron office', 123456789)
(242, 'rakshith', 'rakshi@gmail.com', 234, 242, 560034, 'whitefeild', 'ineuron office', 123456789)
(243, 'rakshith', 'rakshi@gmail.com', 234, 243, 560034, 'whitefeild', 'ineuron office', 123456789)

In [42]:
data = c.execute("select * from address s left join student a on s.studentid=a.studentid")

In [43]:
for i in data:
    print(i)

(235, 560034, 'whitefeild', 'ineuron office', 123456789, 235, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'harshith', 'harshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'harshith', 'harshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 560034, 'whitefeild', 'ineuron office', 123456789, 234, 'rakshith', 'rakshi@gmail.com', 234)
(236, 560034, 'whitefeild', 'ineuron office', 123456789, 236, 'rakshith', 'rakshi@gmail.com', 234)
(237, 560034, 'whitefeild', 'ineuron office', 123456789, 237, 'rakshith', 'rakshi@gmail.com', 234)
(238, 560034, 'whitefeild', 'ineuron office', 123456789, 238, 'rakshith', 'rakshi@gmail.com', 234)
(239, 560034, 'whitefeild', 'ineuron office', 123456789, 239, 'rakshith', 'rakshi@gmail.com', 234)
(240, 560034, 'whitefeild', 'ineuron office', 123456789, 240, 'rakshith', 'rakshi@gmail.com', 234)
(241, 560034, 'whitefeild', 'ineuron office', 123456789, 241, 'rakshith', 'rakshi@gmail.com', 234)
(242, 560034, 'whitefeild', 'ineuron office', 123456789, 242, 'rakshith', 'rakshi@gmail.com', 234)
(243, 560034, 'whitefeild', 'ineuron office', 123456789, 243, 'rakshith', 'rakshi@gmail.com', 234)

In [45]:
for i in c.execute("select * from student"):
    print(i)

(234, 'harshith', 'harshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'rakshith', 'rakshi@gmail.com', 234)
(234, 'harshith', 'harshi@gmail.com', 234)
(235, 'rakshith', 'rakshi@gmail.com', 234)
(236, 'rakshith', 'rakshi@gmail.com', 234)
(237, 'rakshith', 'rakshi@gmail.com', 234)
(238, 'rakshith', 'rakshi@gmail.com', 234)
(239, 'rakshith', 'rakshi@gmail.com', 234)
(240, 'rakshith', 'rakshi@gmail.com', 234)
(241, 'rakshith', 'rakshi@gmail.com', 234)
(242, 'rakshith', 'rakshi@gmail.com', 234)
(243, 'rakshith', 'rakshi@gmail.com', 234)

In [47]:
c.execute('delete from student where studentid < 235')

In [48]:
for i in c.execute("select * from student"):
    print(i)

(235, 'rakshith', 'rakshi@gmail.com', 234)
(236, 'rakshith', 'rakshi@gmail.com', 234)
(237, 'rakshith', 'rakshi@gmail.com', 234)
(238, 'rakshith', 'rakshi@gmail.com', 234)
(239, 'rakshith', 'rakshi@gmail.com', 234)
(240, 'rakshith', 'rakshi@gmail.com', 234)
(241, 'rakshith', 'rakshi@gmail.com', 234)
(242, 'rakshith', 'rakshi@gmail.com', 234)
(243, 'rakshith', 'rakshi@gmail.com', 234)

In [50]:
data=c.execute("select * from student")

In [51]:
data.fetchall()

[(235, 'rakshith', 'rakshi@gmail.com', 234),
 (236, 'rakshith', 'rakshi@gmail.com', 234),
 (237, 'rakshith', 'rakshi@gmail.com', 234),
 (238, 'rakshith', 'rakshi@gmail.com', 234),
 (239, 'rakshith', 'rakshi@gmail.com', 234),
 (240, 'rakshith', 'rakshi@gmail.com', 234),
 (241, 'rakshith', 'rakshi@gmail.com', 234),
 (242, 'rakshith', 'rakshi@gmail.com', 234),
 (243, 'rakshith', 'rakshi@gmail.com', 234)]

In [52]:
c.execute("update student set studentid=1000 where studentid=236")

In [53]:
data=c.execute("select * from student")

In [54]:
data.fetchall()

[(235, 'rakshith', 'rakshi@gmail.com', 234),
 (1000, 'rakshith', 'rakshi@gmail.com', 234),
 (237, 'rakshith', 'rakshi@gmail.com', 234),
 (238, 'rakshith', 'rakshi@gmail.com', 234),
 (239, 'rakshith', 'rakshi@gmail.com', 234),
 (240, 'rakshith', 'rakshi@gmail.com', 234),
 (241, 'rakshith', 'rakshi@gmail.com', 234),
 (242, 'rakshith', 'rakshi@gmail.com', 234),
 (243, 'rakshith', 'rakshi@gmail.com', 234)]

In [4]:
 l= [1,2,3,4,5,6]

In [56]:
for i in l:
    print(i+5)

6
7
8
9
10
11

In [2]:
def test(a):
    return a+5

In [6]:
list(map(test,l))

[6, 7, 8, 9, 10, 11]

In [7]:
def test1(a):
    return a*3454+454

In [8]:
list(map(test1,l))

[3908, 7362, 10816, 14270, 17724, 21178]

In [9]:
l1=['234','345','456','567']

In [10]:
def test2(a):
    return int(a)

In [ ]:
#map fun

In [11]:
list(map(test2,l1))

[234, 345, 456, 567]

In [12]:
list(map(lambda x: int(x),l1))

[234, 345, 456, 567]

In [13]:
list(map(lambda x : x+5,l))

[6, 7, 8, 9, 10, 11]

In [1]:
l=[4,5,6,7,78,8,78]

In [ ]:
#filter

In [9]:
def test3(a):
        if a%2==0:
            return a

In [10]:
list(map(test3,l))

[4, None, 6, None, 78, 8, 78]

In [11]:
[i for i in l if i%2==0]

[4, 6, 78, 8, 78]

In [13]:
list(filter(test3,l))

[4, 6, 78, 8, 78]

In [14]:
list(filter(lambda x: x%2 ==0, l))

[4, 6, 78, 8, 78]

In [16]:
list(filter(lambda x: x+5, l))

[4, 5, 6, 7, 78, 8, 78]

In [17]:
#reduce

In [4]:
from functools import reduce

In [19]:
l=[3,4,5,6,7,8,9]

In [20]:
sum(l)

42

In [30]:
def test5(a,b):
    return a+b

In [31]:
reduce(test5,l)

42

In [26]:
def test6(a,b):
    return a*b

In [27]:
reduce(test6,l)

181440

In [5]:
l=[3]

In [6]:
reduce(test6,l)

NameError: name 'test6' is not defined

In [7]:
reduce(lambda x,y :x/y,l)

3

In [ ]:
#zip

In [12]:
l=[1,2,3,4,5,6]
l1=[7,8,9,1,2,3]

In [13]:
list(zip(l,l1))

[(1, 7), (2, 8), (3, 9), (4, 1), (5, 2), (6, 3)]

In [ ]:
Task: